@model DataAnsari.Models.Actor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HousesOwned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HousesOwned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoviesActedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoviesActedIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetWorth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetWorth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ActorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
