@model IEnumerable<DataAnsari.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HousesOwned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoviesActedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetWorth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HousesOwned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoviesActedIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetWorth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ActorID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ActorID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ActorID">Delete</a>
        </td>
    </tr>
}
</table>
